<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteBook v{{ version }}</title>
    <link rel="stylesheet" href="/resource/editormd/css/editormd.css" />
    <link rel="stylesheet" href="/resource/notebook/main.css">
    <script src="/resource/jquery/jquery.min.js"></script>
    <script src="/resource/editormd/lib/marked.min.js"></script>
    <script src="/resource/editormd/lib/prettify.min.js"></script>
    <script src="/resource/editormd/editormd.min.js"></script>
    <script src="/resource/notebook/main.js"></script>
</head>
<body>
<div class="main-content">
    <div class="main-content-left">
        <div class="main-content-left-card">
            <div class="markdown-body editormd-html-preview">
                <h1>Notebook List</h1>
                {% for name in notebook_list %}
                <a href="/notebook/{{ name }}/">{{ name }}</a> <br>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="main-content-right">
        <h2>NoteBook v{{ version }}</h2>
        <p>{{ name }}</p>
        <h3>Menu</h3>
        <a class = "blue-link" href="/edit/new/">create new notebook</a>
        <h3>Useful links</h3>
        <a class = "blue-link" target="_blank" href="https://www.latexlive.com/">latexlive</a>
    </div>
</div>
</body>
</html>
